body {
	padding-top: 50px;
	width: 100%;
  height: 100%;
  font-family: "Lora", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: white;
  background-color: #333;
}
.jumbotron{
	background-color: #cccccc;
	background: url('images/children.jpg') no-repeat 0 0 scroll;
    background-size: 100% 100%;
	width: 100%;
        height: 100%;
        padding: 100px 0;
	text-align: center;
	color: white;

	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
}

.headmaster{
	background-color: #cccccc;
	background: url('images/couple.jpg') no-repeat 0 0 scroll;
    background-size: 100% 100%;
	width: auto;
	height: 400px;
	color: white;

	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
}

.admin{
	background-color: #cccccc;
	background: url('images/house.jpg') no-repeat 0 0 scroll;
    background-size: 100% 100%;
	width: auto;
	height: 200px;
	color: black;

	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
}

#calendar{
	width:auto;
	height: auto;
	margin:0 auto;
	margin-top:2%;
	margin-bottom:2%;
	border-radius:5px;
	font-family:'Open Sans',sans-serif;
	text-align:center;
	color:#555;
	box-shadow:0 0 0 0 rgba(0,0,0,.8);
}

#calendar h1{
	background:#ee3333;
	border-radius:5px 5px 0 0;
	padding:20px;
	font-size:140%;
	font-weight:300;
	text-transform:uppercase;
	letter-spacing:1px;
	color:#fff;
	cursor:default;
	text-shadow:0 0 10px rgba(0,0,0,.8);
}

#calendar table{
	border-top:1px solid #ddd;
	border-left:1px solid #ddd;
	border-spacing:0;
	border-radius:0 0 5px 5px;
}

#calendar td{
	width:65px;
	height:40px;
	background:#eee;
	border-right:1px solid #ddd;
	border-bottom:1px solid #ddd;
	padding:6px;
	cursor:pointer;
	transition:background .3s;
	-webkit-transition:background .3s;
}

#calendar td:hover:not(.current){
	background:#ddd;
}

#calendar .lastmonth,#calendar .nextmonth,#calendar .nextmonth ~ *{
	background:#fff;
	color:#999;
}

#calendar .current{
	background:#ee3333;
	font-weight:700;
	color:#fff;
}

#calendar .hastask{
	font-weight:700;
}

#calendar tr:last-of-type td:first-of-type{border-radius:0 0 0 5px;}
#calendar tr:last-of-type td:last-of-type{border-radius:0 0 5px 0;}

.news{
	height: 200px
	
}

.wild{
	background-color: #cccccc;
	background: url('images/wild.jpg') no-repeat 0 0 scroll;
    background-size: 100% 100%;
	width: auto;
	height: 200px;
	color: white;

	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
}
.hockey{
	background-color: #cccccc;
	background: url('images/hockey.jpg') no-repeat 0 0 scroll;
    background-size: 100% 100%;
	width: auto;
	height: 200px;
	color: white;

	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
}

.girls{
	background-color: #cccccc;
	background: url('images/girls.jpg') no-repeat 0 0 scroll;
    background-size: 100% 100%;
	width: auto;
	height: 200px;
	color: white;

	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;

}
.event{
	background-attachment: fixed;
    background: url('images/soccer.jpg') no-repeat 0 0 scroll;
    display: block;
color: black;
    left: 0;
    top: 0;
    width: 100%;
    height: 390px;
    z-index: 1;
    background-color: hsla(0,0%,100%,0.70);
    background-blend-mode: overlay;
    background-repeat: no-repeat;
}
.foot{
	color: red;
	background-color: white;
	width: auto;
}
.foot span{
	float: right;
	color: black;
}
.gallery{
	height: 250px;
	/*
	background: url('images/soccer.jpg') no-repeat ;
	background-repeat:no-repeat;
background-position: center center;*/
}

.footer ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;

}

.footer li {
    float: left;
}

.footer li a {
    display: block;
    color: white;
    text-align: center;
    padding: 10px 12px;
    text-decoration: none;
}
.footer li a:hover:not(.active) {
    background-color: #111;
}